@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-1">Welcome4</h4>
    <h5 class="display-2">Welcome5</h5>
    <h6 class="display-3">Welcome6</h6>
    <h7 class="display-4">Welcome7</h7>
    <h8 class="display-5">Welcome8</h8>
    <h1 class="display-6">Welcome1</h1>
    <h2 class="display-7">Welcome2</h2>
    <h3 class="display-8">Welcome3</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
